*{
    box-sizing: border-box;
    margin:0;
}

.flex-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.stopwatch{
    font-family: sans-serif;
    font-size: 3rem;
}