*{
    box-sizing: border-box;
    margin:0;
    --white:#fff;
    --black:#141414;
    --black-off:#373737;
    background-color: var(--black-off);
    color:var(--white);
    font-family: sans-serif;
}

.flex-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.flex-center{
    display:flex;
    justify-content: center;
}

.stopwatch{
    font-family: sans-serif;
    font-size: 3rem;
}

body{
    display:grid;
    height:100vh;
    grid-template-columns: 2fr 1fr 2fr;
    margin:10px;
}

li{
    margin: 0px 0px 5px 0px;
    list-style-type:decimal;
}

/* #leftSide{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
} */


